RESEND_API_KEY=
CONTACT_TO_EMAIL=
RESEND_FROM_EMAIL="BBS Biomedical <no-reply@bbsbiomedical.com>"
NEXT_PUBLIC_GA_ID=G-R3CEHXMM3F
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
INITIAL_SUPERUSER_USERNAME=edwin00741
INITIAL_SUPERUSER_PASSWORD=
